@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Charm&family=Tangerine&display=swap');

:root{
    --body-background: rgb(22, 22, 22);
    --button-color: #2a2a2a;
    --button-hover: #3d3d3d;
}


*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'PT Sans', serif;
}
body{
    background: var(--body-background);
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
}
.container{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.calculator{
    min-width: 15rem;
    max-width: 35rem;
}
.input-area{
    color: white;
    position: relative;
    background: transparent;
    padding: 0.5rem 0.5rem 1rem;
    max-width: 100%;
}
#trigonometric-mode{
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
}
#trigonometry{
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    user-select: none;
}
#trigonometric-container{
    background: var(--button-color);
    position: absolute;
    top: 150%;
    width: max-content;
    display: none;
    grid-template-columns: repeat(3,1fr);
    box-shadow: 0 0 10px rgb(73, 73, 73);
    z-index: 10;
}
#trigonometric-container.visible{ display: grid;}
.trigono-operator{
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
}
.trigono-operator:hover{ background: var(--button-hover);}

#topDisplay-container{
    position: relative;
    width: 100%;
    height: 2.5rem;
    margin:10px 0 0;
    overflow-x: auto;
    direction: rtl;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#topDisplay-container::-webkit-scrollbar { display: none; }
/* Hide scrollbar for IE, Edge and Firefox */
#topDisplay-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#topDisplay{
    position: absolute;
    right: 0;
    background: transparent;
    color: #dddddd;
    font-size: 1.9rem;
    height: 100%;
    margin: 0;
    direction: initial;
    cursor:grab;
}
#display{
    background: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: right;
    font-size: 2.7rem;
    border: 0;
    outline: 0;
}

#exponential-container {
    position: absolute;
    right: 10px;
    margin-top: 5px;
    color: rgb(73, 73, 73);
    font-size: 1.1rem;
}
#exponential-container.active{ color: whitesmoke}


#ansButton{
    margin: 0 20px;
    font-size: 1.4rem;
}

.button-area{
    background: transparent;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    border-bottom-left-radius: 10px;
}
.button-area span{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    background: var(--button-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    padding: 20px 0;
}
.button-area span:hover{
    background: var(--button-hover);
}

#powerButton, #squareBut{ font-family: 'Charm', serif;}

sup{
    font-size: 0.9rem;
    position: relative;
    top: -5px;
}
sub{
    position: relative;
    top: 5px;
}


.signature{
    font-family: 'Tangerine', sans-serif;
    font-size: 1.2rem;
    color: rgb(131, 131, 131);
    letter-spacing: 2px;
}